body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #FAFAF8;
  color: #3A3A3A;
  text-align: center;
}

.cover {
  padding: 120px 20px;
}

.cover h1 {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  line-height: 1.2;
}

.small {
  letter-spacing: 4px;
  font-size: 12px;
}

.line {
  width: 60px;
  height: 1px;
  background: #9FB3A2;
  margin: 20px auto;
}

.date {
  letter-spacing: 3px;
}

.section {
  padding: 60px 25px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.parents {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#countdown div {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 70px;
}

.timeline {
  list-style: none;
  padding: 0;
}

.timeline li {
  margin: 12px 0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 34px;
  border-radius: 40px;
  background: #9FB3A2;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #6F8F7A;
}

.primary {
  background: #6F8F7A;
}

footer {
  padding: 60px 20px;
  background: #F0F0EE;
}

/* ANIMACIONES */
.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s ease;
}

.slide {
  opacity: 0;
  transform: translateX(-20px);
  transition: 1s ease;
}

.show {
  opacity: 1;
  transform: translate(0);
}