body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #FAFAF8;
  color: #3A3A3A;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  
}

.cover {
  padding: 120px 20px;
}

.cover h1 {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  line-height: 1.2;
}

.small {
  letter-spacing: 4px;
  font-size: 12px;
}

.line {
  width: 60px;
  height: 1px;
  background: #9FB3A2;
  margin: 20px auto;
}

.date {
  letter-spacing: 3px;
}

.section {
  padding: 60px 25px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.parents {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#countdown div {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 70px;
}

.timeline {
  list-style: none;
  padding: 0;
}

.timeline li {
  margin: 12px 0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 34px;
  border-radius: 40px;
  background: #9FB3A2;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #6F8F7A;
}

.primary {
  background: #6F8F7A;
}

footer {
  padding: 60px 20px;
  background: #F0F0EE;
}

/* ANIMACIONES */
.fade, .slide {
  opacity: 0;
  transition:
    opacity 1.2s ease,
    transform 1.2s ease;
  will-change: opacity, transform;
}

.fade {
  transform: translate3d(0, 30px, 0);
}

.slide {
  transform: translate3d(-30px, 0, 0);
}

.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#loader {
  position: fixed;
  inset: 0;
  background: #FAFAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-content span {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  letter-spacing: 3px;
  animation: fadeLoader 2s infinite;
}

@keyframes fadeLoader {
  0% {opacity: 0.3}
  50% {opacity: 1}
  100% {opacity: 0.3}
}

#musicBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background: #9FB3A2;
  color: white;
  font-size: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
  z-index: 999;
}

.gallery {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.gallery img {
  width: 80%;
  border-radius: 18px;
  scroll-snap-align: center;
}

/* ===== RSVP ===== */
.rsvp {
  background: rgba(255,255,255,0.55);
  -webkit-backdrop-filter: blur(14px); /* Safari */
  backdrop-filter: blur(14px);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,.08);
}

.parents p {
  margin: 0;
}

.script {
  margin-top: 40px;
  margin-bottom: 8px;
  font-family: 'Allura', cursive;
  font-size: 32px;
  color: #B6A17A;
}

.names {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}
